#include "mainMenu.h"

mainMenu MENU DISCARDABLE
BEGIN
	POPUP "&File"
		BEGIN
			MENUITEM "S&ave", ID_MAINMENU_FILE_SAVE
			MENUITEM "&Open", ID_MAINMENU_FILE_OPEN
			MENUITEM "E&xit", ID_MAINMENU_FILE_EXIT
		END

	POPUP "&Help"
		BEGIN
			MENUITEM "A&bout" ID_MAINMENU_HELP_ABOUT
		END
END
